.carousel_custom {
  height: 500px;
}

.carousel-image_custom {
  object-fit: contain;
}

.indicators-button_custom {
  height: 100px !important;
  width: 100% !important;
  opacity: 1 !important;
}

.carousel-indicators_custom {
  position: static;
}

.carousel-control_custom {
  color: black !important;
}